@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Kelly+Slab");
*,
*:after,
*:before {
  box-sizing: border-box; }

body,
html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  height: 100vh;
  background: #f7f8f8; }

a {
  color: inherit;
  text-decoration: none; }

img {
  border-style: none; }

@media screen and (max-width: 1024px) {
  h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em; } }

@media screen and (max-width: 1024px) {
  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em; } }

@media screen and (max-width: 1024px) {
  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em; } }

@media screen and (max-width: 1024px) {
  h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em; } }

@media screen and (max-width: 1024px) {
  h5 {
    margin-top: 0.5em;
    margin-bottom: 0.5em; } }

@media screen and (max-width: 1024px) {
  h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em; } }

button,
[type='button'],
.button {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  border-radius: 2em; }

.button.is-primary {
  background: #81a960;
  border-color: #81a960;
  font-weight: lighter;
  color: white; }
  .button.is-primary:focus, .button.is-primary:hover {
    box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125); }
.button.is-ghost {
  background: white;
  border-color: white;
  font-weight: lighter;
  color: white; }
  .button.is-ghost:focus, .button.is-ghost:hover {
    box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125); }
.button.is-clickable {
  background: #ff0f3b;
  border-color: #ff0f3b;
  font-weight: lighter;
  color: white; }
  .button.is-clickable:focus, .button.is-clickable:hover {
    box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125); }
.button.is-next {
  border-radius: 0;
  float: right; }

.tile button,
.tile [type='button'],
.tile .button {
  left: 50%;
  transform: translateX(-50%); }

input,
select,
textarea {
  height: 2rem;
  padding-left: 0.5em;
  width: 100%; }
  input:focus,
  select:focus,
  textarea:focus {
    outline: none; }

textarea {
  resize: none; }

.horizontal-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .horizontal-list li {
    display: inline-block;
    margin: 1rem auto;
    flex: 1 1 33%; }
    .horizontal-list li .ripple {
      margin: 0 auto; }

.column,
.row {
  display: flex;
  flex-wrap: wrap; }

.column {
  flex-direction: column; }

.row {
  flex-direction: row; }
  .row.is-reverse {
    flex-direction: row-reverse; }
    @media screen and (max-width: 768px) {
      .row.is-reverse-mobile {
        flex-direction: column-reverse; } }
  .row.tiles.bordered .tile {
    border: thin solid;
    margin: 0.075rem; }

.tile {
  flex: 1 1 0;
  display: block;
  padding: 0.75rem; }
  .tile.is-1 {
    flex: none;
    width: 8.33333%; }
  .tile.offset-is-1 {
    margin-left: 8.33333%; }
  .tile.is-2 {
    flex: none;
    width: 16.66667%; }
  .tile.offset-is-2 {
    margin-left: 16.66667%; }
  .tile.is-3 {
    flex: none;
    width: 25%; }
  .tile.offset-is-3 {
    margin-left: 25%; }
  .tile.is-4 {
    flex: none;
    width: 33.33333%; }
  .tile.offset-is-4 {
    margin-left: 33.33333%; }
  .tile.is-5 {
    flex: none;
    width: 41.66667%; }
  .tile.offset-is-5 {
    margin-left: 41.66667%; }
  .tile.is-6 {
    flex: none;
    width: 50%; }
  .tile.offset-is-6 {
    margin-left: 50%; }
  .tile.is-7 {
    flex: none;
    width: 58.33333%; }
  .tile.offset-is-7 {
    margin-left: 58.33333%; }
  .tile.is-8 {
    flex: none;
    width: 66.66667%; }
  .tile.offset-is-8 {
    margin-left: 66.66667%; }
  .tile.is-9 {
    flex: none;
    width: 75%; }
  .tile.offset-is-9 {
    margin-left: 75%; }
  .tile.is-10 {
    flex: none;
    width: 83.33333%; }
  .tile.offset-is-10 {
    margin-left: 83.33333%; }
  .tile.is-11 {
    flex: none;
    width: 91.66667%; }
  .tile.offset-is-11 {
    margin-left: 91.66667%; }
  .tile.is-12 {
    flex: none;
    width: 100%; }
  .tile.offset-is-12 {
    margin-left: 100%; }
  @media screen and (max-width: 1024px) and (orientation: landscape) {
    .tile {
      flex: 1 0 25%; }
      .tile.is-1 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-2 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-3 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-4 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-5 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-6 {
        width: 50%; }
      .tile.is-7 {
        width: 58.33333%; }
      .tile.is-8 {
        width: 66.66667%; }
      .tile.is-9 {
        width: 75%; }
      .tile.is-10 {
        width: 83.33333%; }
      .tile.is-11 {
        width: 91.66667%; }
      .tile.is-12 {
        width: 100%; } }
  @media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
    .tile {
      flex: 1 0 50%; }
      .tile.is-1 {
        flex: 1 0 50%; }
      .tile.is-2 {
        flex: 1 0 50%; }
      .tile.is-3 {
        flex: 1 0 50%; }
      .tile.is-4 {
        flex: 1 0 50%; }
      .tile.is-5 {
        flex: 1 0 50%; }
      .tile.is-6 {
        flex: 1 0 50%; }
      .tile.is-7 {
        flex: 1 0 100%; }
      .tile.is-8 {
        flex: 1 0 100%; }
      .tile.is-9 {
        flex: 1 0 100%; }
      .tile.is-10 {
        flex: 1 0 100%; }
      .tile.is-11 {
        flex: 1 0 100%; }
      .tile.is-12 {
        flex: 1 0 100%; } }
  @media screen and (max-width: 768px) {
    .tile {
      flex: 1 0 100%; }
      .tile.is-1 {
        flex: none;
        width: 100%; }
      .tile.is-2 {
        flex: none;
        width: 100%; }
      .tile.is-3 {
        flex: none;
        width: 100%; }
      .tile.is-4 {
        flex: none;
        width: 100%; }
      .tile.is-5 {
        flex: none;
        width: 100%; }
      .tile.is-6 {
        flex: none;
        width: 100%; }
      .tile.is-7 {
        flex: none;
        width: 100%; }
      .tile.is-8 {
        flex: none;
        width: 100%; }
      .tile.is-9 {
        flex: none;
        width: 100%; }
      .tile.is-10 {
        flex: none;
        width: 100%; }
      .tile.is-11 {
        flex: none;
        width: 100%; }
      .tile.is-12 {
        flex: none;
        width: 100%; } }
  .tile.is-fullscreen {
    height: calc(100vh - 1.5rem); }

.box {
  margin: 0 auto;
  display: inherit; }
  @media screen and (min-width: 1366px) {
    .box {
      width: 1240px; } }
  @media screen and (min-width: 1280px) and (max-width: 1365px) {
    .box {
      width: 1154px; } }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .box {
      width: 1054px;
      padding-left: 0.75em;
      padding-right: 0.75em; } }
  @media screen and (max-width: 1024px) and (orientation: landscape) {
    .box {
      width: 898px;
      padding-left: 0.75em;
      padding-right: 0.75em; } }
  @media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
    .box {
      width: 768px; } }
  @media screen and (max-width: 900px) {
    .box {
      width: 774px; } }
  @media screen and (max-width: 768px) {
    .box {
      width: 100%;
      padding: 0 0.75em; } }
  .box.is-fluid {
    width: 100%;
    padding: 0 0.75em; }
    .box.is-fluid > .is-fluid {
      padding: 0; }
  .box.is-fullscreen {
    min-height: 100vh;
    height: 100%; }
  .box.is-halfscreen {
    height: 50vh; }
    @media screen and (max-width: 768px) {
      .box.is-halfscreen {
        display: none; } }
  .box.is-content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll; }

.navbar > .is-fullscreen {
  height: calc(100vh - 5rem); }
.navbar > .is-halfscreen {
  height: 50vh; }

.grid {
  display: grid !important; }
  .grid.menu-grid {
    height: 50vh;
    width: 30vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr); }
    .grid.menu-grid span {
      width: auto;
      height: auto;
      cursor: pointer;
      z-index: 0;
      transition: all 0.1s ease-out;
      writing-mode: vertical-rl;
      transform: rotate(180deg); }
      .grid.menu-grid span:nth-child(1) {
        grid-row: 8/span 1;
        grid-column: 2/span 1; }
        .grid.menu-grid span:nth-child(1):focus, .grid.menu-grid span:nth-child(1):hover {
          background-color: #ff0f3b; }
      .grid.menu-grid span:nth-child(2) {
        grid-row: 8/span 1;
        grid-column: 4/span 1; }
        .grid.menu-grid span:nth-child(2):focus, .grid.menu-grid span:nth-child(2):hover {
          background-color: #f4ca25; }
      .grid.menu-grid span:nth-child(3) {
        grid-row: 8/span 1;
        grid-column: 6/span 1; }
        .grid.menu-grid span:nth-child(3):focus, .grid.menu-grid span:nth-child(3):hover {
          background-color: #0063c7; }
      .grid.menu-grid span:nth-child(4) {
        grid-row: 8/span 1;
        grid-column: 8/span 1; }
        .grid.menu-grid span:nth-child(4):focus, .grid.menu-grid span:nth-child(4):hover {
          background-color: #81a960; }
  .grid.white-space-grid {
    width: 100%;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(3, 100px); }
    .grid.white-space-grid span {
      background: #164679; }
      .grid.white-space-grid span:nth-child(1) {
        grid-column: 1;
        grid-row: 1; }
      .grid.white-space-grid span:nth-child(2) {
        grid-column: 3/span 3;
        grid-row: 2; }
      .grid.white-space-grid span:nth-child(3) {
        grid-column: 4;
        grid-row: 1; }
      .grid.white-space-grid span:nth-child(4) {
        grid-column: 7;
        grid-row: 3; }
      .grid.white-space-grid span:nth-child(5) {
        grid-column: 8;
        grid-row: 1; }
      .grid.white-space-grid span:nth-child(6) {
        grid-column: 9;
        grid-row: 2; }

.navbar {
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  z-index: 10;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .navbar {
      margin-top: 3rem; } }
  .navbar .is-navbar-menu {
    writing-mode: sideways-lr; }
    @media screen and (max-width: 768px) {
      .navbar .is-navbar-menu {
        writing-mode: lr; } }
    .navbar .is-navbar-menu .item a {
      font-size: 3rem; }
      .navbar .is-navbar-menu .item a:focus, .navbar .is-navbar-menu .item a:hover {
        background-color: #ff0f3b; }

.route.is-active {
  background: #ff0f3b;
  text-transform: uppercase;
  border-left: 0.5px solid white;
  height: 40px;
  width: 300px;
  font-size: 56px; }

.panel {
  background-color: white;
  border: 0.75rem solid black;
  padding: 0.75em;
  width: 50%; }
  .panel .is-panel-title {
    text-align: center; }
  .panel .is-panel-title,
  .panel .is-panel-body {
    margin-bottom: 1.5rem; }

.form .group {
  margin-bottom: 2rem; }
  .form .group:last-of-type {
    margin-bottom: 0; }
  .form .group legend,
  .form .group label,
  .form .group input,
  .form .group select,
  .form .group textarea,
  .form .group button,
  .form .group .button {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .form .group input,
  .form .group select,
  .form .group textarea {
    border: 0;
    background: #ff9705; }
  .form .group button,
  .form .group .button {
    float: right; }
  .form .group input,
  .form .group select {
    font-size: 28px;
    height: auto;
    text-align: center; }

.ripple {
  padding: 0.75rem;
  width: 8rem;
  display: block;
  border-width: thin;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.125);
  cursor: pointer;
  background-position: 0px 20px;
  overflow: hidden;
  transition: all 0.2s ease;
  z-index: 0;
  text-align: center;
  position: relative; }
  .ripple:focus, .ripple:hover {
    outline: none; }
  .ripple.is-primary {
    background: #81a960;
    border-color: #81a960;
    font-weight: lighter;
    color: white; }
    .ripple.is-primary:focus, .ripple.is-primary:hover {
      box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125); }
  .ripple.is-ghost {
    background: white;
    border-color: white;
    font-weight: lighter;
    color: white; }
    .ripple.is-ghost:focus, .ripple.is-ghost:hover {
      box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125); }
  .ripple.is-clickable {
    background: #ff0f3b;
    border-color: #ff0f3b;
    font-weight: lighter;
    color: white; }
    .ripple.is-clickable:focus, .ripple.is-clickable:hover {
      box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125); }
  .ripple.is-next {
    border-radius: 0;
    float: right; }

.rippling {
  display: block;
  position: absolute;
  transform: scale(0);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.225) 50%, rgba(255, 255, 255, 0.225) 50%, rgba(255, 255, 255, 0.225) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.225)), linear-gradient(-45deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.225) 50%, rgba(255, 255, 255, 0.225) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0)); }
  .rippling.animate {
    animation: ripple 0.65s linear; }

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background: #ff9705; }

.is-modal-close {
  position: absolute;
  top: 0.75remrem;
  right: 5rem; }
  .is-modal-close:after {
    content: "✖";
    position: absolute;
    font-size: 5rem; }

.gallery {
  font-family: "Kelly Slab", cursive;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  position: absolute;
  color: white; }

.is-gallery-container {
  height: 100%;
  width: 100%; }
.is-gallery-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: black; }
.is-gallery-title {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  color: white; }
.is-gallery-counter {
  height: 3rem;
  display: flex;
  align-items: center;
  overflow-x: hidden; }
  .is-gallery-counter span {
    border: 0.5px solid black;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    margin-right: 1rem; }
    .is-gallery-counter span:first-child {
      margin-left: 1rem; }
    .is-gallery-counter span.is-active {
      background-color: black; }
.is-gallery-arrows {
  position: absolute;
  top: 50%;
  height: 20%;
  font-size: 4rem;
  font-weight: lighter;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .is-gallery-arrows span {
    width: 3rem;
    text-align: center;
    cursor: pointer; }

[hidden],
.hidden {
  display: none; }

@media screen and (max-width: 768px) {
  .hidden-in-mobile {
    display: none; } }

.element.is-centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block; }
  .element.is-centered._absolute {
    position: absolute; }
  .element.is-centered._relative {
    position: relative; }
.element.is-absolute {
  position: absolute; }
.element.is-relative {
  position: relative; }

.navbar-fade-enter-active, .navbar-fade-leave-active {
  transition: all 0.3s ease; }
.navbar-fade-enter, .navbar-fade-leave-to {
  opacity: 0; }

.fade-enter-active, .fade-leave-active {
  transition: all 0.3s ease; }
.fade-enter, .fade-leave-to {
  opacity: 0; }

.has-transition {
  transition: all 1s ease; }

.flip-move {
  transition: transform 1s; }

.canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.background.is-darkblue {
  background: #164679; }
.background.is-darkred {
  background: #bb4816; }
.background.is-orange {
  background: #ff9705; }

.text.is-red {
  color: #ff0f3b; }
.text.is-yellow {
  color: #f4ca25; }
.text.is-blue {
  color: #0063c7; }
.text.is-green {
  color: #81a960; }
.text.is-orange {
  color: #ff9705; }
.text.is-white {
  color: white; }
.text.is-black {
  color: black; }
.text.is-lighter {
  font-weight: 200; }
.text.is-regular {
  font-weight: 400; }
.text.is-bold {
  font-weight: 800; }
.text.is-light-special {
  font-weight: 100; }
.text.is-huge {
  font-size: 112px; }
.text.is-big {
  font-size: 56px; }
.text.is-center {
  text-align: center; }
.text.is-underline {
  text-decoration: underline; }

.elevation._default {
  box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125);
  z-index: 1; }
.elevation._top {
  z-index: 10; }
.elevation._none {
  box-shadow: none !important; }

.break.is-1 {
  display: block;
  height: 1rem; }
.break.is-2 {
  display: block;
  height: 2rem; }
.break.is-3 {
  display: block;
  height: 3rem; }
.break.is-4 {
  display: block;
  height: 4rem; }
.break.is-5 {
  display: block;
  height: 5rem; }
.break.is-6 {
  display: block;
  height: 6rem; }

[data-toggle='dropdown'],
.no-select,
.ripple {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.ampersand {
  position: absolute;
  font-size: 300px !important;
  top: 200px;
  right: 100px; }

.no-margin {
  margin: 0; }
.no-padding {
  padding: 0; }

.special-info {
  height: 300px;
  position: absolute;
  bottom: 0;
  width: 20%;
  padding: 0.75rem; }

::-moz-selection,
::selection {
  color: white;
  background: black; }

/*# sourceMappingURL=andrutap.css.map */
